.product-cart.w-hover {

}

.product-cart {
  position: relative;
  border-radius: 12px;
  cursor: pointer;
  &:after {
    content: "";
    border-radius: 12px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 7px 10px 3px #b5b5b533;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .wrapper {
    padding: 10px;
  }
  .image-block {
    display: block;
    position: relative;
    padding-top: 100%;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%;
    }
  }
  .title {
    padding: 16px 0;
    font-size: 24px;
    font-weight: 700;
    color: $text;
  }
  .details p {
    font-size: 16px;
    color: $text-gray;
    margin-bottom: 12px;
  }
  .price {
    font-size: 16px;
    color: $accent-text;
  }
  .price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-accent.btn-transparent {
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .button-product-cart {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.6);
    border-radius: 8px;
    &:hover {
      background: rgba(255,255,255,0.9);
    }
  }
  .more-info-block {
    margin-top: 10px;
    display: block;
    position: relative;
    width: 100%;
    list-style: none;
    line-height: 2em;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    .wrap{
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        color: $accent-text;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
      }
    }
  }
  &:hover {
    .more-info-block {
      max-height: 200px;
      opacity: 1;
    }
    &:after {
      opacity: 1;
    }
  }
}