@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

$default: 'M PLUS 1', sans-serif;

$accent: #1B75BB;
$bg: #47a7e3;
$text: #171B27;
$text-gray: #5F667A;
$accent-text: #438D13;
$accent-btn: #44578F;
$border-radius: 8px;

