//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

//$roboto: 'Playfair Display', serif;
$default: 'M PLUS 1', sans-serif;

$accent: #1B75BB;
$bg: #47a7e3;
$text: #171B27;
$text-gray: #5F667A;
$accent-text: #438D13;
$accent-btn: #44578F;
$border-radius: 8px;

