@import "grid/main";

@import "../js/slick/slick.css";
@import "../js/slick/slick-theme.css";

@import "vars";
@import "fonts";
@import "elements/inputs";
@import "elements/masonry";
@import "elements/tabs";
@import "elements/stars-block";
@import "elements/accordion";
@import "elements/buttons";
@import "elements/typography";
@import "elements/sliders";
@import "elements/video";
@import "elements/select";
@import "elements/pagination";
@import "header";
@import "footer";
@import "products";
@import "sections_home";
@import "team";
@import "blog";



::-webkit-input-placeholder {
	color: lighten($text, 25%);
}
::-moz-placeholder {
	color: lighten($text, 25%);
}
:-ms-input-placeholder {
	color: lighten($text, 25%);
}
::-ms-input-placeholder {
	color: lighten($text, 25%);
}
::placeholder {
	color: lighten($text, 25%);
}
::-moz-selection {
	background-color: $accent;
	color: #fff;
}
::selection {
	background-color: $accent;
	color: #fff;
}
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-size: 16px;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	font-family: $default;
	color: $text;
	overflow-x: hidden;
	display: flex;
    flex-direction: column;
}

.main {
	flex: 1 0 auto;
	//padding-top: 249px;
  @media (max-width: 992px) {
    //padding-top: 72px;
  }
}
.footer {
	flex: 0 0 auto;
}
img, svg {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}
input, button, textarea {
	outline: none;
	font-family: $default;
	&:focus {
		outline: none;
	}
}
input, textarea {
	padding: 10px;
}
textarea {
	resize: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	@extend.animate;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
h1, h2, h3, h4 {
	font-weight: inherit;
}
button, .btn {
	background: $bg;
	color: #fff;
	border: 1px solid currentColor;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-weight: bold;
	@extend.animate;
	&:hover {
		//background: $bg;
		//color: #ffffff;
	}
}
.animate {
	transition: all 0.3s ease;
}
.no_scroll {
	overflow: hidden;
	&:after {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}
.hidden {
	display: none !important;
}

.container {
	width: 100%;
	max-width: 1550px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
  @media (max-width: 991px) {
    //padding-left: 10px;
    //padding-right: 10px;
  }
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.ttu {
  text-transform: uppercase;
}

.show-mobile {
  display: none;
}

.show-medium {
  display: none;
}

.call-phone {
  span {
    font-weight: 500;
    display: flex;
    img {
      margin-right: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .hidden-medium {
    display: none;
  }
  .show-medium {
    display: block;
  }
}

@media (max-width: 992px) {
  .hidden-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .text-small-center {
    text-align: center;
    justify-content: center;
  }

  .small-order-first {
    order: 0
  }

  .small-order-2 {
    order: 1
  }

  .small-order-3 {
    order: 2
  }

  .small-order-last {
    order: 3
  }
}





@import "media"; /* Always at the end*/



