.acc {
  font-size: 18px;

  @media (max-width: 992px) {
    font-size: 16px;
    .acc-card {
      border-bottom: solid 1px rgba(255,255,255,0.1);
    }
  }
  .acc-title {
    position: relative;
    display: block;
    padding: 16px 0px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    @media (max-width: 992px) {
      font-size: 18px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 10px;
        top: 50%;
        right: 10px;
        background: url("../../img/icon/arrow-down-white.svg") 50% 50% no-repeat;
      }
      &.active::after {
        transform: rotate(180deg);
      }
    }
  }
  .acc-panel {
    margin: 0;
    //padding: 0 10px 10px 10px;
    text-align: left;
    li a {
      display: inline-block;
      margin-bottom: 12px;
      font-weight: 500;
      line-height: 40px;
      color: rgba(255,255,255,0.7);
    }

  }
  @media (max-width: 992px) {
    .acc-panel {
      display: none;
    }
  }
}


