.acc {
  font-size: 18px;
  .acc-title {
    position: relative;
    display: block;
    padding: 16px 0;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    &::after {
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }
  .acc-panel {
    margin: 0;
    display: none;
    text-align: left;
    li a {
      display: inline-block;
      margin-bottom: 12px;
      font-weight: 500;
      line-height: 40px;
      color: rgba(255,255,255,0.7);
    }
  }
}

.acc.footer-menu-accordion {
  .acc-panel {
    display: block;
  }
  @media (max-width: 1200px) {
    font-size: 16px;
    .acc-card {
      border-bottom: solid 1px rgba(255,255,255,0.1);
    }
    .acc-panel {
      display: none;
    }
    .acc-title {
      font-size: 18px;
      &::after {
        content: "\e90c";
        font-family: icomoon;
        font-size: 10px;
        color: #fff;
      }
      &.active::after {
        transform: rotate(180deg);
      }
    }
  }
}

.acc.faq-accordion {
  .acc-card {
    border-bottom: 1px solid #CDCDCD;
  }
  .acc-title {
    font-size: 24px;
    &:after {
      content: "\e912";
      top: 1.5rem;
      font-family: icomoon;
      color: $accent-btn;
    }
    &.active::after {
      content: "\e911";
    }
  }
  .acc-panel {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 25px;
  }
}