.button-gradient {
  padding: 18px 60px;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: white;
  box-shadow: 0px 4px 14px 0px #94B38199;
  border-radius: 8px;
  background: linear-gradient(97.93deg, #76B74B -2.23%, #438D13 105.8%);

}
