.btn-accent {
  padding: 18px 40px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.04em;
  border-radius: $border-radius;
  text-transform: uppercase;
}

.btn-gradient {
  text-align: center;
  color: white;
  box-shadow: 0px 4px 14px 0px #94B38199;
  background: linear-gradient(97.93deg, #76B74B -2.23%, #438D13 105.8%);
  min-width: 230px;
  @extend.animate;
  &:hover {
    color: white;
    background: linear-gradient(97.93deg, #438D13 -2.23%, #76B74B 105.8%);
  }
}

.btn-transparent {
  color: $accent-text;
  border: solid 2px $accent-text;
  &:hover {
    color: white;
    background: $accent-text;
    span:before {
      color: white;
    }
  }
}

.wide-btn {
  display: inline-block;
  background-color: #aec871;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 16px;
  &:hover {
    background-color: $accent-text;
  }
}

.btn-tab {
  padding: 16px 32px;
  cursor: pointer;
  background-color: #F0F0F0;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #737989;
  @media (max-width: 991px) {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.btn-tab.active {
  color: white;
  background-color: $accent-btn;

}

@media (max-width: 1440px) {
  .btn-accent {
    font-size: 16px;
    padding: 16px 10px;
  }
}


.btn-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border: solid 2px $accent;
  border-radius: 50%;
  span {
    font-size: 20px;
    color: $accent;
  }
  &:hover {
    background-color: $accent;
    span {
      color: white;
    }
  }
  @media (max-width: 991px) {
    width: 32px;
    height: 32px;
    span {
      font-size: 14px;
    }
  }
}