//////////////////////quantity-input
.quantity-input {
  height: 65px;
  display: flex;
  align-items: center;
  border: solid 2px $text-gray;
  padding: 2px;
  border-radius: 50px;
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .quantity-arrow-minus,
  .quantity-arrow-plus {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: $text-gray;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 57px;
    height: 100%;
    padding: 3px 20px 7px;
    font-family: $default;
    border-radius: 50%;
    @extend .animate;
    &:hover {
      background: #dedede;
    }
  }
  .quantity-num {
    padding: 0 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    width: 65px;
    outline: none;
    border: none;
    text-align: center;
    font-family: $default;
  }

  @media (max-width: 992px) {
  }
}


//custom radio button
.custom-radio {
  display: inline-flex;
  .option{
    display: flex;
    align-items: center;
    height: 65px;
    margin-right: 20px;

    padding-right: 48px;
    padding-left: 48px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid $text-gray;
    transition: all 0.3s ease;
    span{
      font-size: 20px;
      color: $text-gray;
    }
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: $accent-btn;
    background: $accent-btn;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }
  @media (max-width: 992px) {
    .option {
      height: 50px;
      padding-left: 24px;
      padding-right: 24px;
      margin-right: 5px;
      &:last-child {
      }
      span {
        font-size: 18px;
      }
    }
  }
}

