.masonry {
  .m {
    display: flex;
    flex-direction: column;
    max-height: 1200px;
    flex-wrap: wrap;
    .ww {
      //margin: 7px;
      position: relative;
      width: 33.33%;
      //height: auto;
      //margin: 20px auto;
      //background: #eee;
      //border: solid 1px black;
      &:after {
        content: '';
        display: block;
        padding-top: 120%; /*установите ваши пропорции, в данном случае квадрат*/
        //width: 1px; /*ширина только для наглядности - УДАЛИТЕ*/
        //background: #f00; /*фон только для наглядности - УДАЛИТЕ*/
      }
    }
    .w {
      margin: 7px;
      position: absolute;
      background: #555;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .ww:nth-child(1) {
      &:after{
        padding-top: 100%; /*установите ваши пропорции, в данном случае квадрат*/
      }
    }
    .ww:nth-child(2) {
      &:after{
        padding-top: 120%; /*установите ваши пропорции, в данном случае квадрат*/
      }
    }
    .ww:nth-child(3) {
      &:after{
        padding-top: 120%; /*установите ваши пропорции, в данном случае квадрат*/
      }
    }
    .ww:nth-child(4) {
      &:after{
        padding-top: 100%; /*установите ваши пропорции, в данном случае квадрат*/
      }
    }
    .ww:nth-child(5) {
      &:after{
        padding-top: 100%; /*установите ваши пропорции, в данном случае квадрат*/
      }
    }
    .ww:nth-child(6) {
      &:after{
        padding-top: 120%; /*установите ваши пропорции, в данном случае квадрат*/
      }
    }
  }

}