.podcast-item .btn-wrapper {
  .icon {
    font-size: 20px;
    &:before {
      color: white;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px 0 80px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0px 4px 14px 0px #94B38199;
    background: linear-gradient(97.93deg, #76B74B -2.23%, #438D13 105.8%);
    line-height: 80px;
    cursor: pointer;
    .icon {
      font-size: 20px;
      &:before {
        color: white;
      }
    }
  }
  @media (max-width: 992px) {
    a {
      margin: 0 0 0 30px;
    }
  }
  @media (max-width: 640px) {
    a {
      width: 48px;
      height: 48px;
      line-height: 40px;
      .icon {
        font-size: 14px;
      }
    }
  }
}

