.dropdown-select {
  span.value {
    display: none;
  }
  .wrapper-select-dropdown a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
  }
  .wrapper-checkbox-select {
    position: relative;
    ul {
      padding: 2px 15px 2px 5px;
      position: absolute;
      background-color: white;
      list-style: none;
      overflow: auto;
      z-index: 3;
      @media (max-width: 992px) {
        display: none;
        left: 0px;
        top: 2px;
        width: 280px;
      }
      @media (min-width: 992px) {
        display: block !important;
        position: relative;
      }
    }
  }
}

@media (min-width: 992px) {
  .dropdown-select {
    .wrapper-select-dropdown {
      display: none;
    }
  }
}