.slick-list {
  @media (max-width: 600px) {
    margin: 0 0;
  }
}

.top-product-section {
  .slick-list {
    margin: 0 100px;
  }
  .slick-next {
    right: 40px;
  }
  .slick-prev {
    left: 0;
  }
}

@media (max-width: 768px) {
  .top-product-slider .slick-list {
    margin: 0 0;
    padding:0 20% 0 0 !important;
  }
}

.slick-next,
.slick-prev {
  top: 30%;
  &:before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover:before {
    background-color: $bg;
  }
}

.slick-next {
  right: 20px;
  &:before {
    content: "\e90d";
    font-family: icomoon !important;
  }
}

.slick-prev {
  left: -20px;
  &:before {
    content: "\e90e";
    font-family: icomoon !important;
  }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  &:before {
    opacity: 1;
    background-color: transparent;
  }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  &:before {
    font-family: icomoon !important;
    color: black;
  }
}

.slick-prev.slick-disabled:before {
  content: "\e90e";
}

.slick-next.slick-disabled:before {
  content: "\e90d";
}

.slick-dots {
  li {
    button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #C4C4C4;
      &:hover {
        background-color: $accent;
      }
    }
  }
  .slick-active button {
    background-color: $accent;
  }
}

.slick-slide {
  @media only screen and (max-width: 768px) {
    margin-right: 10px;
    margin-left: 10px;
  }
  @media only screen and (max-width: 576px) {
    margin-right: 0;
    margin-left: 0;
  }
}