@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?drisq1');
  src:  url('fonts/icomoon.eot?drisq1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?drisq1') format('truetype'),
    url('fonts/icomoon.woff?drisq1') format('woff'),
    url('fonts/icomoon.svg?drisq1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acc-minus-icon:before {
  content: "\e911";
  color: #44578f;
}
.icon-acc-plus-icon:before {
  content: "\e912";
  color: #44578f;
}
.icon-Union:before {
  content: "\e910";
  color: #ffcf42;
}
.icon-double-arrow-right:before {
  content: "\e913";
  color: #737989;
}
.icon-double-arrow-left:before {
  content: "\e914";
  color: #737989;
}
.icon-user-circle:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e900";
  color: #737989;
}
.icon-stroke:before {
  content: "\e901";
}
.icon-user-circle-icon:before {
  content: "\e902";
}
.icon-yotube-icon:before {
  content: "\e903";
  color: #fff;
}
.icon-play:before {
  content: "\e904";
  color: #4d951e;
}
.icon-quotes1:before {
  content: "\e905";
  color: #1b75bb;
}
.icon-quotes2:before {
  content: "\e906";
  color: #1b75bb;
}
.icon-info-circle:before {
  content: "\e907";
  color: #438d13;
}
.icon-fb-icon:before {
  content: "\e908";
  color: #fff;
}
.icon-call:before {
  content: "\e909";
}
.icon-buy:before {
  content: "\e90a";
}
.icon-buy-cart:before {
  content: "\e90b";
  color: #5ea331;
}
.icon-arrow-down:before {
  content: "\e90c";
  color: #fff;
}
.icon-arr-right:before {
  content: "\e90d";
}
.icon-arr-left:before {
  content: "\e90e";
}
.icon-pause2:before {
  content: "\ea1d";
}
